
/******************************
///////////VARIABLE////////////
*******************************/
:root{
    --bs-primary:#1ABC9C;
    --bs-primary-rgb:26, 188, 156;

    --bg-primary-dark:21, 155, 128;

    --txt-color-light:#ffff;
    --bg-footer-primary:#3A546D;
    --bg-footer-nav-bar-secondary:#2C3E50;
}
/******************************
*******************************/

.img-header{
    padding: 0;
    margin: 0;
    width: 20%;
    min-width: 100px;
}

.bg-footer-prim{
    background-color: var(--bg-footer-primary);
}

.bg-footer-sec{
    background-color: var(--bg-footer-nav-bar-secondary);
}

.bg-primary{
    background-color: var(--bs-primary);
}
.nav-bar-link-cont a{
    padding: .5rem;
    display: inline-block;
    text-decoration: none;
    color: #ffff;
}

.bg-nav-bar{
    background-color: var(--bg-footer-nav-bar-secondary);
}

.txt-color-light{
    color: var(--txt-color-light);
}


.svg-cont-navbar svg{
    width: 24px
}

.svg-cont-social div{
    width: 30px;
    aspect-ratio: 1/1;
    border: 1px  solid #ffff;
    border-radius: 50%;
}

.svg-cont-social div svg{
    width: 20px;
    aspect-ratio: 1/1;
}

.star-svg div svg, .btn svg{
    width: 25px;
    aspect-ratio: 1/1;
}



/******************************
///////////BOOTSTRAP CLAS//////
*******************************/

.form-control{
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 1px solid ;
    border-radius: 0;
}

.form-control:focus{
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 0.25rem rgba(26, 188, 156, .25)
}

.section{
    padding: 3rem;
}

.btn-outline-primary{
    color: var(--txt-color-light);
    border-color: var(--txt-color-light);
}

.btn-outline-primary:hover{
    border-color: var(--txt-color-light);
    background-color: var(--bs-primary-dark);
}
